  <footer class="page-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col l3 s12 center-align">
          <h5 class="white-text">WOCA</h5>
          <p class="grey-text text-lighten-4">
            Au cœur de la révolution numérique, Woca est là pour vous aider à faire 
            briller votre marque en ligne.
          </p>
        </div>
        <div class="col l3 s12 center-align">
          <h5 class="white-text">Solutions</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" routerLink="/dev">Developpement Web</a></li>
            <li><a class="grey-text text-lighten-3" routerLink="/marketing">Marketing Digital</a></li>
            <li><a class="grey-text text-lighten-3" routerLink="/graphisme">Graphisme</a></li>
            <li><a class="grey-text text-lighten-3" routerLink="/mont-video">Montage Vidéo</a></li>
          </ul>
        </div>
        <div class="col l3 s12 center-align">
          <h5 class="white-text">A Propos</h5>
          <ul>
            <p class="grey-text text-lighten-4">
              Nous sommes dévoués à l'innovation, à la créativité et à la satisfaction du client.
            </p>
            <li><a class="btn grey-text text-lighten-3" routerLink="/a-propos">En savoir plus</a></li>
          </ul>
        </div>
        <div class="col l3 s12 center-align">
          <h5 class="white-text">Suivez-nous</h5>
          <a class="center" href="#!">
            <i class="mdi mdi-linkedin"></i>
          </a>
          <a class="center" href="#!">
            <i class="mdi mdi-twitter"></i>
          </a>
          <a class="center" href="#!">
            <i class="mdi mdi-facebook"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
      © 2023 Woca
      </div>
    </div>
  </footer>
