.page-footer{
    background-color: #0a1b37;
    .container-fluid{
        margin: 0 50px;
        h5{
            font-size: 1.5rem;
        }
        .mdi{
            font-size: 2.3rem;
            color: #fff;
        }
    }
    .footer-copyright{
        background-color: #0a1b37;
    }

}