.page-footer{
    background: linear-gradient(to right, #02183d, #1e0841, #051d47);
    .container-fluid{
        margin: 0 10px;
        h5{
            font-size: 1.5rem;
        }
        .mdi{
            font-size: 2.3rem;
            color: #fff;
        }
    }
    .footer-copyright{
        // background-color: #0a1b37;
        background: linear-gradient(to right, #02183d, #1e0841, #051d47);
        text-transform: capitalize;
        font-weight: bolder;
        span{
          color: #c79030;
        }
    }
}

@media only screen and (max-width: 600px) and (max-width: 767px) {

    .row{
        ul{
            li{
                a{
                    font-size: 1.2rem;
                }
            }
        }
    }

    .footer-copyright{
        text-align: center;   
    }
}