nav{
  background: linear-gradient(to right, #02183d, #1e0841, #051d47);
  // box-shadow: 0 18px 25px rgba($color: #0a1b37, $alpha: .7);
  .container-fluid{
    margin: 0 20px;
    
    .brand-logo{
        text-transform: capitalize;
        font-weight: bolder;
        span{
          color: #c79030;
          // color: #f52323;
        }
    }

    .rmdi{
      display: flex;
      align-items: center;
    }
  }
}

/* Styles pour le SideNav */
.sidenav {   
    .row{
      .mdi{
          font-size: 2.5rem;
          color: #0a1b37;
        }
      margin-top: 200px;
    }
  }
  
.brand-logo{
  text-transform: capitalize;
  font-weight: bolder;
  span{
    color: #c79030;
    }
 }

  /* Styles pour le Dropdown */
  .dropdown-content {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    min-width: 200px;
  }
  
  .dropdown-content li {
    clear: both;
    color: #0a1b37;
    cursor: pointer;
    line-height: 1.5rem;
    padding: 2px 0;
  }
  
  .dropdown-content li:hover {
    background-color: #f2f2f2;
  }
  
  .dropdown-content li a {
    color: inherit;
    display: block;
    font-size: 1rem;
    text-decoration: none;
  }
  
  .dropdown-trigger {
    cursor: pointer;
  }

  .dropdown-trigger1{
    padding-top: 0;
  }
  
  /* Styles supplémentaires pour améliorer l'apparence */
  .dropdown-content li.disabled {
    color: #999999;
    cursor: default;
  }
  
  .dropdown-content li.disabled:hover {
    background-color: transparent;
  }
  
  @media only screen and (max-width: 600px) {
    nav{
      .container-fluid{
        margin: 0;
      }
    }
  }