<!-- <div class="navbar-fixed">
    <nav>
        <div class="container-fluid">
            <div class="nav-wrapper">
                <a routerLink="accueil" class="brand-logo center hide-on-med-and-up">wocadigital</a>
                <a routerLink="accueil" class="brand-logo left hide-on-small-only">wocadigital</a>
                <a data-target="menu-mobile" class="sidenav-trigger hide-on-med-and-up">
                    <i class="material-icons left">menu</i>
                </a>
              <ul class="right hide-on-small-only">
                <li *ngFor="let item of menus">
                    <a [routerLink]="item.path" routerLinkActive="active">{{ item.name }}</a>
                    <ul id="dropdown" class="dropdown-content" *ngIf="item.subItems">
                        <li *ngFor="let subItem of item.subItems">
                            <a [routerLink]="subItem.path">{{ subItem.name }}</a>
                        </li>
                    </ul>  
                </li>
                <li><a class="dropdown-trigger" data-target="dropdown">Servives</a></li>
                <li *ngFor="let item of contact">
                    <a [routerLink]="item.path" routerLinkActive="active">{{ item.name }}</a>
                </li>
                <li class="col s12 m6 rmdi">
                    <a class="" href="#!">
                        <i class="mdi mdi-linkedin"></i>
                    </a>
                    <a class="" href="#!">
                        <i class="mdi mdi-twitter"></i>
                    </a>
                    <a class="" href="#!">
                        <i class="mdi mdi-facebook"></i>
                    </a>
                </li>
              </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="sidenav" id="menu-mobile" [ngClass]="{'sidenav-open': MobileSidenavOpen}">
    <nav>
        <div class="nav-wrapper">
            <div>
                <a routerLink="accueil" class="brand-logo">woca</a>
            </div>
        </div>
    </nav>
    <li>
        <a routerLink="accueil" routerLinkActive="active" 
        class="sidenav-close" (click)="toogleMobileSidenav()">Accueil</a>
    </li>
    <li>
        <a routerLink="a-propos" routerLinkActive="active" 
        class="sidenav-close" (click)="toogleMobileSidenav()">A propos</a> 
    </li>
    <li>
        <a routerLink="contact" routerLinkActive="active" 
        class="sidenav-close" (click)="toogleMobileSidenav()">Contactez-nous</a> 
    </li>

    <li *ngFor="let item of menus">
        <ul id="dropdown1" class="dropdown-content" *ngIf="item.subItems" [ngClass]="{'sidenav-open': MobileSidenavOpen}">
            <li *ngFor="let subItem of item.subItems">
                <a [routerLink]="subItem.path" class="sidenav-close" (click)="toogleMobileSidenav()">
                    {{ subItem.name }}
                </a>
            </li>
        </ul> 
    </li>
    <li>
        <a class="dropdown-trigger1 svc" data-target="dropdown1">
            Services
        </a>
    </li>
    
    <!-- les réseaux sociaux -->

    <!-- <div class="row">
        <div class="col s12 offset-m3 center-align">
            <a class="" href="#!">
                <i class="mdi mdi-linkedin"></i>
            </a>
            <a class="" href="#!">
                <i class="mdi mdi-twitter"></i>
            </a>
            <a class="" href="#!">
                <i class="mdi mdi-facebook"></i>
            </a>
        </div>
    </div>
</ul> --> 


<!-- <div class="navbar-fixed">
    <nav>
        <div class="container-fluid">
            <div class="nav-wrapper">
                <a routerLink="accueil" class="brand-logo center hide-on-med-and-up">wocadigital</a>
                <a routerLink="accueil" class="brand-logo left hide-on-small-only">wocadigital</a>
                <a data-target="menu-mobile" class="sidenav-trigger hide-on-med-and-up">
                    <i class="material-icons left">menu</i>
                </a>
                <ul class="right hide-on-small-only">
                    <li *ngFor="let item of menus">
                        <a [routerLink]="item.path" routerLinkActive="active">{{ item.name }}</a>
                        <ul id="dropdown" class="dropdown-content" *ngIf="item.subItems">
                            <li *ngFor="let subItem of item.subItems">
                                <a [routerLink]="subItem.path">{{ subItem.name }}</a>
                            </li>
                        </ul>  
                    </li>
                    <li><a class="dropdown-trigger" data-target="dropdown">Servives</a></li>
                    <li *ngFor="let item of contact">
                        <a [routerLink]="item.path" routerLinkActive="active">{{ item.name }}</a>
                    </li>
                </ul>
                <ul class="hide-on-med-and-up">
                    <li><a href="#" class="sidenav-trigger" data-target="menu-mobile"><i class="material-icons">menu</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<ul class="sidenav" id="menu-mobile" [ngClass]="{'sidenav-open': MobileSidenavOpen}">
    <nav>
        <div class="nav-wrapper">
            <div>
                <a routerLink="accueil" class="brand-logo">woca</a>
            </div>
        </div>
    </nav>
    <li>
        <a routerLink="accueil" routerLinkActive="active" 
        class="sidenav-close" (click)="toogleMobileSidenav()">Accueil</a>
    </li>
    <li>
        <a routerLink="a-propos" routerLinkActive="active" 
        class="sidenav-close" (click)="toogleMobileSidenav()">A propos</a> 
    </li>
    <li>
        <a routerLink="contact" routerLinkActive="active" 
        class="sidenav-close" (click)="toogleMobileSidenav()">Contactez-nous</a> 
    </li>

    <li *ngFor="let item of menus">
        <ul id="dropdown1" class="dropdown-content" *ngIf="item.subItems" [ngClass]="{'sidenav-open': MobileSidenavOpen}">
            <li *ngFor="let subItem of item.subItems">
                <a [routerLink]="subItem.path" class="sidenav-close" (click)="toogleMobileSidenav()">
                    {{ subItem.name }}
                </a>
            </li>
        </ul> 
    </li>
    <li>
        <a class="dropdown-trigger1 svc" data-target="dropdown1">
            Services
        </a>
    </li>
    
    <!-- les réseaux sociaux -->

    <!-- <div class="row hide-on-med-and-down">
        <div class="col s12 center-align">
            <a class="" href="#!">
                <i class="mdi mdi-linkedin"></i>
            </a>
            <a class="" href="#!">
                <i class="mdi mdi-twitter"></i>
            </a>
            <a class="" href="#!">
                <i class="mdi mdi-facebook"></i>
            </a>
        </div>
    </div>
</ul> -->

<div class="navbar-fixed">
    <nav>
        <div class="container-fluid">
            <div class="nav-wrapper">
                <a routerLink="accueil" class="brand-logo center hide-on-med-and-up">woca<span>Digital</span></a>
                <a routerLink="accueil" class="brand-logo left hide-on-small-only">woca<span>Digital</span></a>
                <ul class="right hide-on-small-only">
                    <li *ngFor="let item of menus">
                        <a [routerLink]="item.path" routerLinkActive="active">{{ item.name }}</a>
                        <ul id="dropdown" class="dropdown-content" *ngIf="item.subItems">
                            <li *ngFor="let subItem of item.subItems">
                                <a [routerLink]="subItem.path">{{ subItem.name }}</a>
                            </li>
                        </ul>  
                    </li>
                    <li><a class="dropdown-trigger" data-target="dropdown">Servives</a></li>
                    <li *ngFor="let item of contact">
                        <a [routerLink]="item.path" routerLinkActive="active">{{ item.name }}</a>
                    </li>
                </ul>
                <a data-target="menu-mobile" class="sidenav-trigger hide-on-med-and-up">
                    <i class="material-icons left">menu</i>
                </a>
            </div>
        </div>
    </nav>
</div>

<ul class="sidenav" id="menu-mobile" [ngClass]="{'sidenav-open': MobileSidenavOpen}">
    <nav>
        <div class="nav-wrapper">
            <div>
                <a routerLink="accueil" class="brand-logo">woca<span>Digital</span></a>
            </div>
        </div>
    </nav>
    <li>
        <a routerLink="accueil" routerLinkActive="active" 
        class="sidenav-close" (click)="toogleMobileSidenav()">Accueil</a>
    </li>
    <li>
        <a routerLink="a-propos" routerLinkActive="active" 
        class="sidenav-close" (click)="toogleMobileSidenav()">A propos</a> 
    </li>

    <li *ngFor="let item of menus">
        <ul id="dropdown1" class="dropdown-content" *ngIf="item.subItems" [ngClass]="{'sidenav-open': MobileSidenavOpen}">
            <li *ngFor="let subItem of item.subItems">
                <a [routerLink]="subItem.path" class="sidenav-close" (click)="toogleMobileSidenav()">
                    {{ subItem.name }}
                </a>
            </li>
        </ul> 
    </li>
    <li>
        <a class="dropdown-trigger1 svc" data-target="dropdown1">
            Services
        </a>
    </li>
    
    <li>
        <a routerLink="contact" routerLinkActive="active" 
        class="sidenav-close" (click)="toogleMobileSidenav()">Contactez-nous</a> 
    </li>
    <!-- les réseaux sociaux -->

    <div class="row hide-on-med-and-down">
        <div class="col s12 center-align">
            <a class="" href="#!">
                <i class="mdi mdi-linkedin"></i>
            </a>
            <a class="" href="#!">
                <i class="mdi mdi-twitter"></i>
            </a>
            <a class="" href="#!">
                <i class="mdi mdi-facebook"></i>
            </a>
        </div>
    </div>
</ul>




          