<div class="services">
    <div class="container-fluid">
        <div class="background-container"
            [ngStyle]="{ 'background-image': 'url(' + serviceImage + ')' }">
            <video *ngIf="!mesServices" autoplay loop muted>
              <source src="../assets/images/batiment.webm" type="video/webm" class="bg-video">
            </video>
            <div *ngIf="mesServices" class="service-details">
              <img [src]="serviceImage" alt="Service Image" class="service-image">
              <div class="service-content">
                  <h4>{{ mesServices }}</h4>
                  <p>{{ serviceInfo }}</p>
                  <a class="btn waves-effect waves-light" (click)="redirectToServicePage()">Decouvrir</a>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="service" (click)="selectService('Développement web')">
                <div class="svc">
                    <h6>Développement web</h6>
                </div>
            </div>
            <div class="service" (click)="selectService('Marketing digital')">
                <div class="svc">
                    <h6>Marketing digital</h6>
                </div>
            </div>
            <div class="service" (click)="selectService('Graphisme')">
                <div class="svc">
                    <!--<img src="../assets/images/7.png" class="responsive-img" alt="">
                    <div class="divider"></div>-->
                    <h6>Graphisme</h6>
                </div>
            </div>
            <div class="service" (click)="selectService('Montage video')">
                <div class="svc">
                    <!--<img src="../assets/images/4.png" class="responsive-img" alt="">
                    <div class="divider"></div>-->
                    <h6>Montage vidéo</h6>
                </div>
            </div>      
        </div>
    </div>
</div>  
