<div class="banner"></div>

<div class="container">
    <div class="center">
        <div class="soulogan z-depth-3">
            <h2 class="white-text">A Propos de Nous</h2>
        </div>
    </div>
</div>

<div class="about-us">
    <div class="container">
        <h3 class="center-align">Notre histoire</h3>
        <p class="center-align">
            Chez Woca, la passion pour la communication digitale est ancrée dans notre ADN. 
            Fondée par Carole Blaise, experte en management de projet digital, et Wolako benoît Dzahini, 
            ingenieur Devops et développeur d'application web front-end, notre entreprise est le fruit d'une vision 
            partagée : mettre en avant l'excellence numérique. Notre équipe compétente est déterminée 
            à vous accompagner tout au long de votre parcours digital, de la conception à la réalisation.
        </p>
    </div>
</div>
<div class="clos">
    <div class="container">
        <div class="row">
            <h3 class="center-align">Ce qui nous concernes</h3>
            <div class="col center-align">
                Nous sommes dévoués à l'innovation, à la créativité et à la satisfaction du client. 
                Chaque projet que nous entreprenons est traité avec un soin méticuleux, 
                pour garantir que votre marque se distingue dans l'océan numérique.
            </div>
        </div>
    </div>
</div>

<!-- Notre équipe -->
<div class="equipe">
    <div class="container-fluid">
        <h3 class="center-align">Nos Domaine d'expertise</h3>
        <div class="row">
            <div class="col s12 l5 text">
                <h4>Techonolgie de l'Information (TI)</h4>
                <h4>Marketing digital</h4>
                <h4>Graphisme</h4>
                <h4>Montage vidéo</h4>
            </div>
            <div class="col s12 offset-l1 l6">
                <img src="../assets/images/20.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container">
        <h3 class="center-align">Contactez-nous</h3>
        <p class="center-align">
            Contactez-nous dès aujourd'hui pour découvrir comment nous pouvons transformer votre présence en ligne.
        </p>
        <div class="center-align">
            <a routerLink="/contact" class="btn pulse z-depth-5">Contactez-nous</a>
        </div>
    </div>
</div>