<div class="banner"></div>

<!-- <div class="container">
    <div class="center">
        <div class="soulogan z-depth-3">
            <h1 class="white-text">A Propos de Nous</h1>
        </div>
    </div>
</div> -->

<div class="about-us">
    <div class="container">
        <h2 class="center-align">Ce qui nous définit</h2>
        <p class="center-align">
            Wocadigital est une entreprise innovante dédiée à la réussite de nos clients dans les domaines du 
            marketing digital, du coaching et publication de livres. Nous croyons en la puissance 
            des idées et en leur potentiel à transformer le monde lorsqu'elles sont bien exécutées.
        </p>
    </div>
</div>
<div class="clos">
    <div class="container">
        <h2 class="center-align">Notre Mission</h2>
        <p class="center-align">
            Notre mission est de fournir des solutions complètes et personnalisées pour aider nos clients à 
            atteindre leurs objectifs. Que vous cherchiez à renforcer votre présence en ligne, à améliorer 
            vos compétences professionnelles ou à publier un livre, nous sommes là pour vous accompagner à 
            chaque étape.
        </p>
    </div>
</div>

<!-- Notre équipe -->
<div class="equipe">
    <div class="container-fluid">
        <h2 class="center-align">Nos Valeurs</h2>
        <div class="row">
            <div class="col s12 l8">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="text">
                            <h4>Excellence</h4>
                            <p>
                                Nous nous engageons à offrir des services de la plus haute 
                                qualité et à dépasser les attentes de nos clients.
                            </p>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="text">
                            <h4>Innovation</h4>
                            <p>
                                Nous restons à la pointe des tendances et des technologies 
                                pour proposer des solutions innovantes.
                            </p>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="text">
                            <h4>Intégrité</h4>
                            <p>
                                Nous faisons preuve de transparence et d'honnêteté dans toutes nos interactions.
                            </p>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="text">
                            <h4>Passion</h4>
                            <p>
                                Nous sommes passionnés par notre travail et par l'accompagnement de nos clients vers le succès.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col s12 l4">
                <img src="../assets/images/20.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="story">
    <div class="container">
        <h2 class="center-align">Notre histoire</h2>
        <p class="center-align">
            <!-- Chez Woca, la passion pour la communication digitale est ancrée dans notre ADN. 
            Fondée par Carole Blaise, experte en management de projet digital, et Wolako benoît Dzahini, 
            ingenieur Devops, notre entreprise est le fruit d'une vision 
            partagée : mettre en avant l'excellence numérique. Notre équipe compétente est déterminée 
            à vous accompagner tout au long de votre parcours digital, de la conception à la réalisation. -->

            WOCADIGITAL a été fondée par Carole BLAISE, une passionnée de management de projet digital, et Wolako Benoît DZAHINI, 
            un passionné d'informatique. Depuis notre création, nous avons aidé de nombreux clients à réaliser leurs 
            rêves et à atteindre leurs objectifs. Notre croissance continue est le reflet de notre engagement envers 
            l'excellence et de la confiance que nos clients nous accordent.
        </p>
    </div>
</div>
<div class="contact">
    <div class="container">
        <h2 class="center-align">Contactez-nous</h2>
        <div class="row">
            <div class="col ctext">
                <p class="center-align">
                    Vous souhaitez en savoir plus sur nos services ou discuter de votre projet avec nous ? 
                    Contactez-nous dès aujourd'hui pour découvrir comment nous pouvons vous aider à transformer 
                    vos idées en réalité.
                </p>
                <div class="center-align">
                    <a routerLink="/contact" class="btn pulse z-depth-5">Contactez-nous</a>
                </div>
            </div>
        </div>
    </div>
</div>