.container-fluid{
    margin: 0 50px;
    .row{
        .cart{
            border: #151f30 1px;
            border-radius: 10px;
            padding: 12px;
            .cart-image{
                display: flex;
                justify-content: start;
                align-items: center;

                img{
                    height: 50px;
                    width: 50px;
                    
                }
            }
            .divider{
                margin: 5px 0;
            }

            &:hover{
                background-color: #151f30;
                color: #f2f2f2;
            }
        }
    }
}