<div class="container-fluid">
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="cart">
                <div class="cart-image">
                    <img src="https://img.icons8.com/?size=100&id=hvAWCiJQpZyX&format=png&color=000000" class="responsive-img" alt="">
                    <h6><span class="title">Coaching et publication de livre</span></h6>
                </div>
                <div class="divider"></div>
                <p>
                    Réalisez votre rêve littéraire avec notre accompagnement personnalisé.
                </p>
                
                <div class="cart-action">
                    <a class="btn" routerLink="/book-coaching">Decouvrir
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="cart">
                <div class="cart-image">
                    <img src="https://img.icons8.com/?size=100&id=l0UsZRTvcGel&format=png&color=000000" class="responsive-img" alt="">
                    <h6><span class="title">Développement Web</span></h6>
                </div>
                <div class="divider"></div>
                <p>
                    Votre site web est votre vitrine numérique.
                </p>
                
                <div class="cart-action">
                    <a class="btn" routerLink="/dev">Decouvrir
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="cart">
                <div class="cart-image">
                    <img src="https://img.icons8.com/?size=100&id=Uy92MXrBR9c8&format=png&color=000000" class="responsive-img" alt="">
                    <h6><span class="title">Marketing digital</span></h6>
                </div>
                <div class="divider"></div>
                <p>
                    Établissez une présence en ligne puissante grâce à nos stratégies de 
                    marketing digital.
                </p>
                
                <div class="cart-action">
                    <a class="btn" routerLink="/marketing">Decouvrir
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="cart">
                <div class="cart-image">
                    <img src="https://img.icons8.com/?size=100&id=14wV2lhXGKBp&format=png&color=000000" class="responsive-img" alt="">
                    <h6><span class="title">Graphisme Créatif</span></h6>
                </div>
                <div class="divider"></div>
                <p>
                    Laissez notre équipe d'expert en graphisme, donner vie à votre vision.
                </p>
                
                <div class="cart-action">
                    <a class="btn" routerLink="/graphisme">Decouvrir
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="cart">
                <div class="cart-image">
                    <img src="https://img.icons8.com/?size=100&id=XWNxSq31nWRk&format=png&color=000000" class="responsive-img" alt="">
                    <h6><span class="title">Montage Vidéo </span></h6>
                </div>
                <div class="divider"></div>
                <p>
                    Donnez vie à vos histoires avec nos services de montage vidéo de pointe.
                </p>
                
                <div class="cart-action">
                    <a class="btn" routerLink="/mont-video">Decouvrir
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
