<div class="container-fluid">
    <h3 class="center-align">Pourquoi choisir Woca ?</h3>
    <div class="row">
        <div class="col s12 m6 avantage">
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Accès à des compétences spécialisées</h5>
                <p>
                    Nous disposons des équipes d'experts spécialisées ayant des compétences 
                    et des connaissances approfondies dans divers domaines tels que le développement web, 
                    Marketing digital, le graphisme, le montage vidéo, etc.
                </p>
            </div>
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>L'innovation continue</h5>
                <p>
                    Nous sommes axées sur l'innovation et nous aidons nos clients à adopter de nouvelles technologies, 
                    à rester à jour avec les tendances du marché et à introduire des solutions innovantes pour rester compétitifs.
                </p>
            </div>
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Rentabilité</h5>
                <p>
                    Nous aidons nos clients à obtenir un retour sur investissement significatif.
                </p>
            </div>
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Gestion de l'image de marque en ligne </h5>
                <p>
                    Nous surveillons et gérons la réputation en ligne de leurs clients, répondant aux commentaires, 
                    gérant les crises et favorisant une image de marque positive.
                </p>
            </div>
        </div>
        <div class="col s12 m6 avantage">
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Visibilité en ligne accrue</h5>
                <p>
                    Nous améliorons la visibilité en ligne de nos clients en utilisant des techniques 
                    de référencement (SEO) et d'optimisation de contenu pour apparaître plus haut 
                    dans les résultats des moteurs de recherche.
                </p>
            </div>
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Stratégies de marketing numérique</h5>
                <p>
                    Nous élaborons des stratégies de marketing numérique complètes, y compris la publicité en ligne, 
                    le marketing sur les médias sociaux, le marketing de contenu, les campagnes par e-mail, etc.
                </p>
            </div>
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Création de contenu optimisé </h5>
                <p>
                    Nous créons du contenu optimisé pour les moteurs de recherche et adapté aux besoins 
                    de l'audience, renforçant ainsi la crédibilité et l'expertise de la marque nos clients.
                </p>
            </div>
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Engagement sur les médias sociaux</h5>
                <p>
                    Nous gérons les comptes de médias sociaux de nos clients, créer du contenu engageant, 
                    interagir avec le public et accroître la notoriété de la marque.
                </p>
            </div>
        </div>
    </div>
</div>
