<div class="container-fluid">
    <h2 class="center-align">Pourquoi choisir Woca ?</h2>
    <div class="row">
        <div class="col s12 m6 avantage">
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Expertise Complète en Marketing Digital</h5>
                <p>
                    Notre équipe de professionnels du marketing digital possède une vaste expérience et des compétences 
                    diversifiées pour vous aider à atteindre vos objectifs en ligne. Nous maîtrisons les dernières tendances et 
                    technologies pour maximiser votre présence sur le web et attirer un public ciblé.
                </p>
            </div>
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Coaching Personnalisé pour Réussir</h5>
                <p>
                    Nous croyons en l'importance de l'accompagnement sur mesure. Nos coachs expérimentés travaillent étroitement 
                    avec vous pour élaborer des stratégies personnalisées, développer vos compétences et surmonter les défis 
                    spécifiques à votre entreprise. Avec notre soutien, vous serez équipé pour prendre des décisions éclairées 
                    et efficaces.
                </p>
            </div>
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Publication de Livres de Qualité</h5>
                <p>
                    La publication de livres est un art que nous maîtrisons à la perfection. Que vous soyez un auteur en herbe ou 
                    confirmé, notre service de publication vous guide à chaque étape du processus, de l'écriture à la commercialisation. 
                    Nous vous aidons à transformer votre manuscrit en une œuvre publiée qui se démarque sur le marché.
                </p>
            </div>
        </div>
        <div class="col s12 m6 avantage">
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Approche Intégrée et Stratégique</h5>
                <p>
                    Nous adoptons une approche holistique qui combine le marketing digital, le coaching et la publication pour offrir 
                    des solutions complètes et cohérentes. Notre objectif est de créer des synergies entre ces domaines pour optimiser votre succès global.
                </p>
            </div>
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Résultats Mesurables et Tangibles</h5>
                <p>
                    Nous nous engageons à fournir des résultats concrets et mesurables. Grâce à des outils d'analyse avancés, 
                    nous suivons et évaluons continuellement l'impact de nos stratégies pour garantir une amélioration constante 
                    et un retour sur investissement optimal.
                </p>
            </div>
            <div class="atout">
                <h5><i class="material-icons left">done_all</i>Satisfaction Client au Cœur de Nos Priorités</h5>
                <p>
                    La satisfaction de nos clients est notre priorité absolue. Nous nous efforçons de dépasser vos attentes 
                    en offrant un service de haute qualité, une communication transparente et un engagement total envers votre réussite.
                </p>
            </div>
        </div>
    </div>
</div>
