<div class="banner"></div>
<!-- <div class="container">
    <div class="center">
        <div class="soulogan z-depth-3">
            <h1 class="white-text">Coaching & Publication de Livre</h1>
        </div>
    </div>
</div> -->
<div class="nav-wrapper container">
    <div class="bread">
      <a routerLink="/accueil" class="breadcrumb">Accueil</a>
      <a routerLink="/book-coaching" class="breadcrumb">Coaching & Publication de livre</a>
    </div>
</div>
<main>
    <div class="container">
        <h2 class="center-align">Réalisez Votre Rêve Littéraire avec Notre Coaching de Publication de Livre</h2>
        <p class="center-align">
            Vous avez un livre en vous? Nous sommes là pour vous aider à le faire naître. Avec notre coaching 
            de publication de livre, transformez vos idées en une œuvre accomplie. De l'élaboration de votre 
            manuscrit à sa publication, nous vous offrons un accompagnement sur mesure pour que votre voix résonne 
            auprès de vos lecteurs. Laissez nous vous guider vers votre rêve littéraire. Ensemble, 
            faisons de votre projet d'écriture une réalité!
        </p>
    </div>

    <section id="services">
        <h2>Nos Services d'Accompagnement</h2>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="service">
                    <h3>Consultation et Coaching Littéraire</h3>
                    <p class="center-align">
                        Nous commençons par comprendre vos idées, vos objectifs et votre vision pour votre livre. 
                        Nos experts en littérature vous aident à structurer votre récit, à développer vos personnages 
                        et à affiner votre style d'écriture.
                    </p>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="service">
                    <h3>Édition et Correction</h3>
                    <p>
                        Nos éditeurs professionnels veillent à ce que votre texte soit clair, cohérent et exempt 
                        d'erreurs. Notre processus de révision approfondi garantit que chaque mot contribue efficacement à votre histoire.
                    </p>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="service">
                    <h3>Conception de Couverture et Mise en Page</h3>
                    <p>
                        Notre équipe de designers talentueux crée des couvertures attrayantes et des mises en page 
                        soignées qui reflètent l'essence de votre livre.
                    </p>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="service">
                    <h3>Publication et Distribution</h3>
                    <p>
                        Nous vous guidons à travers le choix des meilleures plateformes 
                        de publication et de distribution pour atteindre votre public cible.
                    </p>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="service">
                    <h3>Marketing Digital</h3>
                    <p>
                        Nous utilisons des stratégies de marketing digital personnalisées pour augmenter 
                        la visibilité de votre livre en ligne et atteindre votre audience.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="why-choose-us">
        <h2>Pourquoi Nous Choisir ?</h2>
        <div class="row">
            <div class="col s12 m6 l4">
                <h5>Expertise et Expérience</h5>
                <p>
                    Notre équipe est composée de professionnels passionnés par la littérature et le marketing 
                    digital, avec des années d'expérience dans le domaine.
                </p>
            </div>
            <div class="col s12 m6 l4">
                <h5>Approche Personnalisée</h5>
                <p>
                    Nous comprenons que chaque projet littéraire est unique. Nos services sont adaptés à vos 
                    besoins spécifiques pour garantir que votre vision est respectée et réalisée.
                </p>
            </div>
            <div class="col s12 m6 l4">
                <h5>Engagement et Passion</h5>
                <p>
                    Nous sommes dévoués à votre succès. Votre satisfaction et la réalisation de vos 
                    objectifs littéraires sont notre priorité.
                </p>
            </div>
        </div>
    </section>
    <section id="training-plan">
            <h2>Plan de l'accompagnement</h2>
            <p class="center-align container">Notre plan de l'accompagnement est conçu pour vous guider à travers chaque étape de la création et de la publication de votre livre. Voici un aperçu de ce que vous apprendrez :</p>
            
            <div class="row">
                <div class="col s12 m6 l4">
                    <div class="training-step">
                        <h3>Étape 1: Génération d'Idées</h3>
                        <p>Apprenez à générer des idées originales et à choisir le concept qui vous passionne le plus. Nous vous aiderons à définir le thème central de votre livre.</p>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="training-step">
                        <h3>Étape 2: Planification et Structuration</h3>
                        <p>Découvrez comment structurer votre récit, créer des plans détaillés et établir une feuille de route pour votre écriture.</p>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="training-step">
                        <h3>Étape 3: Écriture et Développement de Contenu</h3>
                        <p>Recevez des conseils sur l'écriture efficace, le développement de personnages, et la création de dialogues captivants. Nous vous soutiendrons tout au long de votre processus d'écriture.</p>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="training-step">
                        <h3>Étape 4: Révision et Édition</h3>
                        <p>Apprenez les techniques de révision pour améliorer la clarté, la cohérence et le style de votre manuscrit. Travaillez avec nos éditeurs pour peaufiner chaque chapitre.</p>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="training-step">
                        <h3>Étape 5: Conception et Mise en Page</h3>
                        <p>Découvrez les principes de conception de couverture et de mise en page. Collaborez avec nos designers pour créer une présentation visuellement attrayante de votre livre.</p>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="training-step">
                        <h3>Étape 6: Publication et Distribution</h3>
                        <p>Explorez les différentes options de publication et de distribution. Apprenez à choisir les plateformes les plus adaptées à votre public cible.</p>
                    </div>
                </div>
            </div>
    </section>
    <section id="training-cost">
        <h2>Coût de l'accompagnement</h2>
        <p class="aligne center-align container">Nous proposons une tarification flexible pour s'adapter à vos besoins et à votre budget. Voici un aperçu de nos forfaits :</p>
        
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="cost-package">
                    <p>Pack</p>
                    <h4>Economique</h4>
                    <div class="prix prix1">
                        <p>A partir de : 990 €</p>
                    </div>
                    <ul>
                        <li><li><i class="material-icons">check</i>Consultation initial</li>
                        <li><i class="material-icons">check</i>Edition de base</li>
                        <li><i class="material-icons">check</i>Obtention de ISBN.</li>
                        <li><i class="material-icons">check</i>Dépôt légal</li>
                        <li><i class="material-icons">check</i>Mise en page basique</li>
                        <li><i class="material-icons">check</i>Publication sur une plateforme d’e-book</li>
                    </ul>
                    <div class="center-align">
                        <button routerLink="/contact" class="btn reserver">Nous contacter</button>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="cost-package">
                    <p>Pack</p>
                    <h4>Standard</h4>
                    <div class="prix prix2">
                        <p>A partir de : 1990 €</p>
                    </div>
                    <ul>
                        <li><li><i class="material-icons">check</i>Tous les services du Pack Economique</li>
                        <li><i class="material-icons">check</i>Edition avancée</li>
                        <li><i class="material-icons">check</i>Design de couverture</li>
                        <li><i class="material-icons">check</i>Impression de 100 exemplaires du livre</li>
                        <li><i class="material-icons">check</i>Plan de com de base incluant RS (Réseaux Sociaux)</li>
                        <li><i class="material-icons">check</i>Assistance à la distribution en librairies et plateformes en ligne</li>
                    </ul>
                    <div class="center-align">
                        <button routerLink="/contact" class="btn reserver">Nous contacter</button>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="cost-package">
                    <p>Pack</p>
                    <h4>Premium</h4>
                    <div class="prix prix3">
                        <p>Sur devis</p>
                    </div>
                    <ul>
                        <li><li><i class="material-icons">check</i>Tous les services des Packs Economique et Standard</li>
                        <li><i class="material-icons">check</i>Ecriture collaborative avec des écrivains professionnels</li>
                        <li><i class="material-icons">check</i>Illustrations personnalisées</li>
                        <li><i class="material-icons">check</i>Lancement du livre</li>
                        <li><i class="material-icons">check</i>Campagne publicitaire</li>
                        <li><i class="material-icons">check</i>Relations presse</li>
                        <li><i class="material-icons">check</i>Evénements littéraires</li>
                    </ul>
                    <div class="center-align">
                        <button routerLink="/contact" class="btn reserver">Nous contacter</button>
                    </div>
                </div>
            </div>
        </div>  
    </section>

    <!-- <div class="contact">
        <h2 class="center-align">Contactez-nous</h2>
        <div class="container">
            <p class="center-align">
                Pour des besoins spécifiques, nous offrons également des services à la carte 
                et des plans personnalisés. N'hésitez pas à nous contacter pour discuter de 
                la meilleure option pour vous.
            </p>
            <div class="center-align">
                <a routerLink="/contact" class="btn pulse z-depth-5">Contactez-nous</a>
            </div>
        </div>
    </div> -->
</main>

<div class="separator-line"></div>
<!-- nos services -->

<woca-services></woca-services>