<div class="section-identity">
    <div class="container">
        <div class="about center-align">
            <h2 class="center-align">
                Écrivez, Publiez, Éclairez : Avec Wocadigital, 
                votre allié pour le coaching en rédaction, la publication de livres et le marketing digital.
            </h2>
            
            <p class="center-align">
                Nous sommes votre partenaire idéal pour le coaching en rédaction et publication de livres, 
                ainsi que pour des stratégies de marketing digital performantes. Vous avez un projet de livre ? 
                Nos experts vous accompagnent de l'écriture à la promotion. Envie de renforcer votre présence en 
                ligne ? Nos solutions de marketing digital innovantes sont là pour vous aider à atteindre vos objectifs.
            </p>
            <div class="center-align">
                <a class="btn" routerLink="/a-propos">Qui sommes-nous</a>
            </div>
        </div>
    </div>
</div>

<div class="section-service">
    <div class="container-fluid">
        <h2 class="center-align">Avec nous, c'est plus de solutions</h2>
        <woca-text-animation></woca-text-animation>
    </div>
</div>

<!-- nos solutions -->

<div class="service">
    <div class="container-fluid">
        <h2 class="center-align">Nos services</h2>
        <h3 class="center-align">Découvrer les services que nous vous offrons</h3>
    </div>
    <woca-solutions></woca-solutions>
</div>

<!-- <div class="parallax-container">
    <div class="parallax"><img src="../assets/images/20.png"></div>
</div> -->

<!-- avantage de choisir woca -->

<div class="section-avantage">
    <woca-atout></woca-atout>
</div>

<!-- section contact  -->

<div class="contact-us">
    <div class="container-fluid">
        <div class="row">
            <h2 class="center-align">Contactez-nous</h2>
            <div class="col s12 l6">
                <p class="left-align">
                    Choisir notre entreprise, c'est opter pour une expertise reconnue, un accompagnement dédié 
                    et des solutions innovantes qui propulseront votre entreprise vers de nouveaux sommets. 
                    Ensemble, transformons vos ambitions en succès concrets.
                </p>
            </div>
            <div class="col s12 l6">
                <div class="contact">
                    <a routerLink="/contact" class="z-depth-2">Contactez-nous 
                        <i class="material-icons">chat_bubble</i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</div>
