.banner{
    background-image: url('/../assets/images/18.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

// section service
.section-services{
    h3{
        color: #151f30;
    }
}

