<div class="banner">
</div>
<div class="container">
    <div class="center">
        <div class="soulogan z-depth-3">
            <h2 class="white-text">Montage vidéo Exceptionnel</h2>
        </div>
    </div>
</div>

<!-- section detail dev -->
<div class="section-details">
    <div class="nav-wrapper container">
        <div class="bread">
          <a routerLink="/accueil" class="breadcrumb">Accueil</a>
          <a routerLink="/montVideo" class="breadcrumb">Montage vidéo</a>
        </div>
    </div>
    <div class="container">
        <div class="colo">
            <h5 class="center-align">Service</h5>
            <h3 class="center-align">Montage Vidéo</h3>
            <p class="center-align">Notre entreprise de technologie offre une variété de service tels que :</p>
        </div>
        <div class="row">
            <div class="col s12 m6 z-depth-3 compe">
                <ul>
                    <li><i class="material-icons">done_all</i> Création de spot publicitaire</li>
                    <li><i class="material-icons">done_all</i> Réalisation des vidéos</li>
                    <li><i class="material-icons">done_all</i> Des animations</li>
                </ul>
            </div>
            <div class="col s12 m6">
                <img src="../assets/images/24.png" alt="" class="responsive-img">
            </div>
        </div>
        <h4>Pourquoi sommes-nous votre partenaire ?</h4>
        <p>
            Nous proposons des services d'infographie pour tous les besoins, y compris les infographies pour les réseaux
            sociaux, les présentations, les rapports et les sites web. Nous pouvons également aider les entreprises à créer
            des animations et des vidéos infographiques pour renforcer l'engagement et la mémorisation.
            Notre processus de création d'infographie est axé sur la communication et la collaboration, ce qui nous permet de
            comprendre les besoins de nos clients et de livrer des résultats qui répondent à leurs exigences. Nous offrons
            également des services de maintenance et de mise à jour pour assurer que les infographies restent actuelles et
            pertinentes.
        </p>
        <p>
            Si vous recherchez un partenaire de confiance pour votre projet de développement d'application, n'hésitez pas
            à nous <a routerLink="/contact">contacter</a> pour discuter de vos besoins et de la façon dont nous pouvons vous aider à les réaliser
        </p>
    </div>
</div>

<!-- Nos services -->
<div class="section-service">
    <div class="container-fluid white-text">
        <h3 class="center-align">Nos services</h3>
        <div class="row">
            <div routerLink="/dev" class="component">
                <div class="col s12 m6 l3 center z-depth-3">
                    <img src="../assets/images/8.png" class="responsive-img" alt="">
                    <div class="divider"></div>
                    <h4>Développement web</h4>
                </div>
            </div>
            <div routerLink="/marketing" class="component">
                <div class="col s12 m6 l3 center z-depth-3">
                    <img src="../assets/images/5.png" class="responsive-img" alt="">
                    <div class="divider"></div>
                    <h4>Marketing digital</h4>
                </div>
            </div>
            <div routerLink="/graphisme" class="component">
                <div class="col s12 m6 l3 center z-depth-3">
                    <img src="../assets/images/7.png" class="responsive-img" alt="">
                    <div class="divider"></div>
                    <h4>Graphisme Créatif</h4>
                </div>
            </div>
            <div routerLink="/mont-video" class="component">
                <div class="col s12 m6 l3 center z-depth-3">
                    <img src="../assets/images/4.png" class="responsive-img" alt="">
                    <div class="divider"></div>
                    <h4>Montage vidéo</h4>
                </div>
            </div>
        </div>
    </div>
</div>

