<div class="banner"></div>
<!-- <div class="container">
    <div class="center">
        <div class="soulogan z-depth-3">
            <h1 class="white-text">Montage vidéo Exceptionnel</h1>
        </div>
    </div>
</div> -->

<!-- section detail dev -->
<div class="section-details">
    <div class="nav-wrapper container">
        <div class="bread">
          <a routerLink="/accueil" class="breadcrumb">Accueil</a>
          <a routerLink="/montVideo" class="breadcrumb">Montage vidéo</a>
        </div>
    </div>
    <div class="container">
        <div class="colo">
            <h2 class="center-align">Vidéos Impactantes, Montage Expert</h2>
            <p class="center-align">
                Découvrez une nouvelle dimension de la communication visuelle avec wocadigital où chaque 
                vidéo raconte une histoire, votre histoire. Nous mettons en lumière votre message 
                à travers des montages vidéo dynamiques et percutants.
            </p>
        </div>
        <h2 class="center-align">Nos Compétences</h2>
        <div class="row">
            <div class="col s12 m6 z-depth-3 compe">
                <ul>
                    <li><i class="material-icons">done_all</i> La publicité</li>
                    <li><i class="material-icons">done_all</i> Des présentations d'endreprise</li>
                    <li><i class="material-icons">done_all</i> Des événements spéciaux</li>
                    <li><i class="material-icons">done_all</i> Des vidéos promotionnels</li>
                    <li><i class="material-icons">done_all</i> Du contenu pour les médias sociaux</li>
                </ul>
            </div>
            <div class="col s12 m6">
                <img src="../assets/images/24.png" alt="" class="responsive-img">
            </div>
        </div>
        <h2 class="center-align">Pourquoi sommes-nous votre partenaire ?</h2>
        <p class="center-align">
            Dans l'ère numérique actuelle, l'image et la vidéo sont des atouts clés pour captiver votre 
            public et laisser une impression mémorable. Chez WOCADIGITAL, notre service de 
            Montage Vidéo est dédié à donner vie à vos idées, à créer des vidéos percutantes qui communiquent votre message avec impact.
        </p>
    
        <div class="contact">
            <h2 class="center-align">Contactez-nous</h2>
            <p class="center-align">
                Chez WOCADIGITAL, le montage vidéo va bien au-delà de la simple compilation de séquences. C'est une véritable œuvre d'art narrative. 
                Contactez-nous pour discuter de la manière dont nos services de montage vidéo peuvent 
                apporter une dimension visuelle exceptionnelle à votre contenu.
            </p>
            <div class="center-align">
                <a routerLink="/contact" class="btn pulse z-depth-5">Contactez-nous</a>
            </div>
        </div>
    </div>
</div>

<div class="separator-line"></div>
<!-- Nos services -->
<woca-services></woca-services>

