<div class="banner"></div>
<!-- <div class="container">
    <div class="center">
        <div class="soulogan z-depth-3">
            <h1 class="white-text">Marketing digital</h1>
        </div>
    </div>
</div> -->

<!-- section detail dev -->
<div class="section-details">
    
    <div class="nav-wrapper container">
        <div class="bread">
          <a routerLink="/accueil" class="breadcrumb">Accueil</a>
          <a routerLink="/marketing" class="breadcrumb">Marketing digital</a>
        </div>
    </div>
 
    <div class="container">
        <div class="colo">
            <h2 class="center-align">Innovations et Avantages</h2>
            <p class="center-align">
                Dynamisez votre présence en ligne avec notre service complet de marketing digital. 
                Nous nous engageons à maximiser votre visibilité, à générer du trafic qualifié et à amplifier 
                votre succès commercial à travers des stratégies digitales innovantes. Explorez nos services 
                de marketing digital conçus pour propulser votre entreprise vers de nouveaux horizons numériques.
            </p>
        </div>
        <h2 class="center-align">Nos Compétences</h2>
        <div class="row">
            <div class="col s12 m6 z-depth-3 compe">
                <ul>
                    <li><i class="material-icons">done_all</i> Stratégie de marketing digital</li>
                    <li><i class="material-icons">done_all</i> SEO (Optimisation pour les moteurs de recherche)</li>
                    <li><i class="material-icons">done_all</i> Publicité en ligne</li>
                    <li><i class="material-icons">done_all</i> Marketing de contenu</li>
                    <li><i class="material-icons">done_all</i> Médias sociaux</li>
                    <li><i class="material-icons">done_all</i> Analyse de données</li>
                </ul>
            </div>
            <div class="col s12 m6">
                <img src="../assets/images/30.png" alt="" class="responsive-img">
            </div>
        </div>
        
        <h2 class="center-align">Pourquoi sommes-nous votre partenaire ?</h2>
        
        <p class="center-align">
            Nous proposons des services de gestion de communauté complets, allant de la planification et de la mise en place
            de nouvelles communautés à la gestion quotidienne et au monitoring des performances. Nous aidons les entreprises
            à développer leur présence en ligne, à générer du trafic et à augmenter leur engagement avec leur public cible.
            Notre approche de gestion de communauté est axée sur la création de contenu de qualité, la gestion de la
            réputation en ligne et la gestion des crises. Nous aidons les entreprises à créer une communauté en ligne forte
            qui les soutient et les aides à atteindre leurs objectifs commerciaux. Nous offrons également des services de
            support pour assurer la disponibilité des systèmes et une résolution rapide des problèmes.
        </p>

        <div class="contact">
            <h2 class="center-align">Contactez-nous</h2>
            <p class="center-align">
                Chez WOCADIGITAL, le marketing digital va bien au-delà des simples clics et impressions. 
                C'est une stratégie globale centrée sur la croissance de votre entreprise. 
                Contactez-nous dès aujourd'hui pour discuter de la manière dont nos services de marketing digital 
                peuvent propulser votre entreprise vers le succès en ligne.
            </p>
            <div class="center-align">
                <a routerLink="/contact" class="btn pulse z-depth-5">Contactez-nous</a>
            </div>
        </div>
    </div>
</div>

<div class="separator-line"></div>
<!-- Nos services -->
<woca-services></woca-services>
