<div class="banner"></div>
<div class="container">
    <div class="center">
        <div class="soulogan z-depth-3">
            <h2 class="white-text">Marketing digital</h2>
        </div>
    </div>
</div>

<!-- section detail dev -->
<div class="section-details">
    
    <div class="nav-wrapper container">
        <div class="bread">
          <a routerLink="/accueil" class="breadcrumb">Accueil</a>
          <a routerLink="/marketing" class="breadcrumb">Marketing</a>
        </div>
    </div>
 
    <div class="container">
        <div class="colo">
            <h5 class="center-align">Service</h5>
            <h3 class="center-align">Marketing digital</h3>
            <p class="center-align">Notre service de marketing digital offre une variété de service à savoir :</p>
        </div>
        <div class="row">
            <div class="col s12 m6 z-depth-3 compe">
                <ul>
                    <li><i class="material-icons">done_all</i> Stratégie de marketing digital</li>
                    <li><i class="material-icons">done_all</i> SEO (Optimisation pour les moteurs de recherche)</li>
                    <li><i class="material-icons">done_all</i> Publicité en ligne</li>
                    <li><i class="material-icons">done_all</i> Marketing de contenu</li>
                    <li><i class="material-icons">done_all</i> Médias sociaux</li>
                    <li><i class="material-icons">done_all</i> Analyse de données</li>
                </ul>
            </div>
            <div class="col s12 m6">
                <img src="../assets/images/30.png" alt="" class="responsive-img">
            </div>
        </div>
        <h4>Pourquoi nous sommes votre partenaire?</h4>
        <p>
            Nous proposons des services de gestion de communauté complets, allant de la planification et de la mise en place
            de nouvelles communautés à la gestion quotidienne et au monitoring des performances. Nous aidons les entreprises
            à développer leur présence en ligne, à générer du trafic et à augmenter leur engagement avec leur public cible.
            Notre approche de gestion de communauté est axée sur la création de contenu de qualité, la gestion de la
            réputation en ligne et la gestion des crises. Nous aidons les entreprises à créer une communauté en ligne forte
            qui les soutient et les aides à atteindre leurs objectifs commerciaux. Nous offrons également des services de
            support pour assurer la disponibilité des systèmes et une résolution rapide des problèmes.
        </p>
        <p>
            Si vous recherchez un partenaire de confiance pour votre projet de développement d'application, n'hésitez pas
            à nous <a routerLink="/contact">contacter</a> pour discuter de vos besoins et de la façon dont nous pouvons vous aider à les réaliser
        </p>
    </div>
</div>

<!-- Nos services -->
<div class="section-service">
    <div class="container-fluid white-text">
        <h3 class="center-align">Nos services</h3>
        <div class="row">
            <div routerLink="/dev" class="component">
                <div class="col s12 m6 l3 center z-depth-3">
                    <img src="../assets/images/8.png" class="responsive-img" alt="">
                    <div class="divider"></div>
                    <h4>Développement web</h4>
                </div>
            </div>
            <div routerLink="/marketing" class="component">
                <div class="col s12 m6 l3 center z-depth-3">
                    <img src="../assets/images/5.png" class="responsive-img" alt="">
                    <div class="divider"></div>
                    <h4>Marketing digital</h4>
                </div>
            </div>
            <div routerLink="/graphisme" class="component">
                <div class="col s12 m6 l3 center z-depth-3">
                    <img src="../assets/images/7.png" class="responsive-img" alt="">
                    <div class="divider"></div>
                    <h4>Graphisme</h4>
                </div>
            </div>
            <div routerLink="/mont-video" class="component">
                <div class="col s12 m6 l3 center z-depth-3">
                    <img src="../assets/images/4.png" class="responsive-img" alt="">
                    <div class="divider"></div>
                    <h4>Montage vidéo</h4>
                </div>
            </div>
        </div>
    </div>
</div>
