<div class="banner">
</div>
<!-- <div class="container">
    <div class="center">
        <div class="soulogan z-depth-3">
            <h1 class="white-text">Design Graphique</h1>
        </div>
    </div>
</div> -->

<!-- section detail graphist -->
<div class="section-details">
    <div class="nav-wrapper container">
        <div class="bread">
          <a routerLink="/accueil" class="breadcrumb">Accueil</a>
          <a routerLink="/graphisme" class="breadcrumb">Graphisme</a>
        </div>
    </div>
    <div class="container">
        <div class="colo">
            <h2 class="center-align">Donnons Vie à Vos Idées Visuelles</h2>
            <p class="center-align">
                Explorez l'excellence visuelle avec notre service de design graphique exceptionnel. 
                Chaque création est une œuvre d'art pensée pour élever votre marque, captiver votre audience et 
                transformer votre vision en une réalité visuelle impressionnante. Découvrez une nouvelle 
                dimension de la créativité, où chaque pixel compte et chaque design raconte une histoire.
            </p>
        </div>
        <h2 class="center-align">Nos Compétences</h2>
        <div class="row">
            <div class="col s12 m6 z-depth-3 compe">
                <ul>
                    <li><i class="material-icons">done_all</i> Conception graphique</li>
                    <li><i class="material-icons">done_all</i> Web design</li>
                    <li><i class="material-icons">done_all</i> Conception d'infographies</li>
                    <li><i class="material-icons">done_all</i> Conception de présentations</li>
                    <li><i class="material-icons">done_all</i> Conception d'imprimés</li>
                </ul>
            </div>
            <div class="col s12 m6">
                <img src="../assets/images/29.png" alt="" class="responsive-img">
            </div>
        </div>
        <h2 class="center-align">Pourquoi sommes-nous votre partenaire ?</h2>
        <p class="center-align">
            En tant que partenaire dédié au succès de votre entreprise, WOCADIGITAL se positionne comme l'allié idéal 
            pour répondre à tous vos besoins en design graphique. Nous choisir pour vos besoins en 
            design graphique c'est choisir l'excellence, la créativité et la collaboration. 
            Nous sommes prêts à transformer vos idées en réalité visuelle percutante.
        </p>
        
        <div class="contact">
            <h2 class="center-align">Contactez-nous</h2>
            <p class="center-align">
                Chez nous, le design graphique est bien plus qu'une compétence, c'est une passion pour l'expression 
                visuelle. Veuillez nous contacter pour discuter de la manière dont nos services de design graphique 
                peuvent transcender votre identité visuelle et propulser votre marque vers de nouveaux sommets.
            </p>
            <div class="center-align">
                <a routerLink="/contact" class="btn pulse z-depth-5">Contactez-nous</a>
            </div>
        </div>
    </div>
</div>

<div class="separator-line"></div>
<!-- Nos services -->
<woca-services></woca-services>
