.banner{
    background-image: url('/../assets/images/12.png');
    height: 70vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

// section service
.section-service{
    h3{
        color: #151f30;
    }
    margin: 0;
}
