<div class="banner"></div>
<div class="container">
    <div class="center">
        <div class="soulogan z-depth-3">
            <h2 class="white-text">Développement Web / Application web</h2>
        </div>
    </div>
</div>
<!-- section de breadcrumb -->
<!-- section detail dev -->
<div class="section-details">
    <div class="nav-wrapper container">
        <div class="bread">
          <a routerLink="/accueil" class="breadcrumb">Accueil</a>
          <a routerLink="/dev" class="breadcrumb">Développement</a>
        </div>
    </div>
    <div class="container">
        <div class="colo">
            <h5 class="center-align">Service</h5>
            <h3 class="center-align">Développement Web ou Application</h3>
            <p class="center-align">Notre entreprise de technologie offre des services de développement d'application tels que :</p>
        </div>
        <div class="row">
            <div class="col s12 m6 z-depth-3">
                <ul>
                    <li><i class="material-icons">done_all</i> Conception et le développement de sites Web</li>
                    <li><i class="material-icons">done_all</i> Développement d'applications Web</li>
                    <li><i class="material-icons">done_all</i> Optimisation de sites Web</li>
                    <li><i class="material-icons">done_all</i> Maintenance de sites Web</li>
                    <li><i class="material-icons">done_all</i> Conseil et stratégie</li>
                    <li><i class="material-icons">done_all</i> Formation et support technique</li>
                    <li><i class="material-icons">done_all</i> Administration web</li>
                    <li><i class="material-icons">done_all</i> Développement d'application mobile</li>
                    <li><i class="material-icons">done_all</i> Développement des applications de bureau </li>
                </ul>
            </div>
            <div class="col s12 m6">
                <img src="../assets/images/27.png" alt="" class="responsive-img">
            </div>
        </div>
        <h4>Pourquoi sommes-nous votre partenaire?</h4>
        <p>
            Nous proposons des services de développement d'application pour toutes les plates-formes, y compris les
            applications web, les applications mobiles, les applications de bureau.
            Nous pouvons également aider les entreprises à intégrer des fonctionnalités telles que l'analytique, l'IA,
            la réalité augmentée et la réalité virtuelle pour améliorer l'expérience utilisateur et augmenter la productivité.
            Notre processus de développement d'application est axé sur la communication et la collaboration, ce qui nous
            permet de comprendre les besoins de nos clients et de livrer des résultats qui répondent à leurs exigences.
            Nous offrons également des services de maintenance et de support pour assurer le bon fonctionnement des
            applications après la mise en production.
        </p>
        <p>
            Si vous recherchez un partenaire de confiance pour votre projet de développement d'application, n'hésitez pas
            à nous <a routerLink="/contact">contacter</a> pour discuter de vos besoins et de la façon dont nous pouvons vous aider à les réaliser
        </p>
    </div>
</div>

<!-- Nos services -->
<div class="section-service">
    <div class="container-fluid white-text">
        <h3 class="center-align">Nos services</h3>
        <div class="row">
            <div routerLink="/dev" class="component">
                <div class="col s12 m6 l3 center z-depth-3">
                    <img src="../assets/images/8.png" class="responsive-img" alt="">
                    <div class="divider"></div>
                    <h4>Développement web</h4>
                </div>
            </div>
            <div routerLink="/marketing" class="component">
                <div class="col s12 m6 l3 center z-depth-3">
                    <img src="../assets/images/5.png" class="responsive-img" alt="">
                    <div class="divider"></div>
                    <h4>Marketing digital</h4>
                </div>
            </div>
            <div routerLink="/graphisme" class="component">
                <div class="col s12 m6 l3 center z-depth-3">
                    <img src="../assets/images/7.png" class="responsive-img" alt="">
                    <div class="divider"></div>
                    <h4>Graphisme</h4>
                </div>
            </div>
            <div routerLink="/mont-video" class="component">
                <div class="col s12 m6 l3 center z-depth-3">
                    <img src="../assets/images/4.png" class="responsive-img" alt="">
                    <div class="divider"></div>
                    <h4>Montage vidéo</h4>
                </div>
            </div>
        </div>
    </div>
</div>