.banner{
    background-image: url('/../assets/images/dev7.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

// section details
.section-details{
    img{
        height: 490px;
    }
}
// section service
