<div class="banner"></div>
<!-- <div class="container">
    <div class="center">
        <div class="soulogan z-depth-3">
            <h1 class="white-text">Développement Web</h1>
        </div>
    </div>
</div> -->

<!-- section de breadcrumb -->
 
<!-- section detail dev -->
<div class="section-details">
    <div class="nav-wrapper container">
        <div class="bread">
          <a routerLink="/accueil" class="breadcrumb">Accueil</a>
          <a routerLink="/dev" class="breadcrumb">Développement</a>
        </div>
    </div>
    <div class="container">
        <div class="colo">
            <h2 class="center-align">Votre Site Web, Notre Expertise</h2>
            <p class="center-align">
                Découvrez l'excellence du développement web avec notre équipe dévouée. Nous nous engageons 
                à créer des expériences en ligne captivantes et fonctionnelles pour propulser votre présence 
                sur le web. Explorez nos services de développement web complets qui allient créativité, 
                innovation et expertise technique pour répondre à tous vos besoins numériques.
            </p>
        </div>
        <h2 class="center-align">Nos Compétences</h2>
        <div class="row">
            <div class="col s12 m6 z-depth-3 compe">
                <ul>
                    <li><i class="material-icons">done_all</i> Conception et le développement de sites Web</li>
                    <li><i class="material-icons">done_all</i> Développement d'applications Web</li>
                    <li><i class="material-icons">done_all</i> Optimisation de sites Web</li>
                    <li><i class="material-icons">done_all</i> Maintenance de sites Web</li>
                    <li><i class="material-icons">done_all</i> Conseil et stratégie</li>
                    <li><i class="material-icons">done_all</i> Formation et support technique</li>
                    <li><i class="material-icons">done_all</i> Administration web</li>
                    <li><i class="material-icons">done_all</i> Développement d'application mobile</li>
                    <li><i class="material-icons">done_all</i> Développement des applications de bureau </li>
                </ul>
            </div>
            <div class="col s12 m6">
                <img src="../assets/images/dev4.png" alt="" class="responsive-img">
            </div>
        </div>
        <h2 class="center-align">Pourquoi sommes-nous votre partenaire?</h2>
        <p class="center-align">
            Nous proposons des services de développement d'application pour toutes les plates-formes, y compris les
            applications web, les applications mobiles, les applications de bureau.
            Notre processus de développement d'application est axé sur la communication et la collaboration, ce qui nous
            permet de comprendre les besoins de nos clients et de livrer des résultats qui répondent à leurs exigences.
            Nous offrons également des services de maintenance et de support pour assurer le bon fonctionnement des
            applications après la mise en production.
        </p>
        
        <div class="contact">
            <h2 class="center-align">Contactez-nous</h2>
            <div class="conatiner">
                <p class="center-align">
                    Nous sommes plus qu'une simple équipe de développeurs web. Nous sommes vos partenaires dans la transformation digitale. 
                    Vous pouvez nous contacter dès aujourd'hui pour discuter de votre projet et découvrir comment nos services de développement web 
                    peuvent propulser votre présence en ligne vers de nouveaux sommets.
                </p>
                <div class="center-align">
                    <a routerLink="/contact" class="btn pulse z-depth-5">Contactez-nous</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="separator-line"></div>
<!-- Nos services -->
<woca-services></woca-services>